body{
    background-color:wheat;
    display: block;
    justify-content:center;
    position: relative;

}
section{
    display: flex;
    padding: auto;
    margin: auto;
    justify-content: center;
    
}
h1{

    color: cadetblue;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    text-align: center;
}
.title{
    text-align: center;
}


.icone{
    width: 50px;
    height: 50px
}
   
.lien{
    width: 50px;
    height: 50px;
   
}
.toto{
    width: 50px;
    height: 50px;
    
  
}
.tata{
    width: 50px;
    height: 50px;
}
@media(max-width:760px){
    main{
        flex-direction: column;
    }
    section{
        width: 100%;
    }
}